.title {text-align: center; width: 100%}
.description {text-align: center; opacity: .75; margin-top: 10px;}
:root {
  --gap: 12px; 
  --card: #eceedf; 
  font-family:'Fjalla One', 
  sans-serif; }
* { box-sizing: border-box; }
body {
  margin: 0;
  padding: 16px;
  background: #fff;
  color: #504b38;
}
header {text-align: center; width: 100%; margin-bottom: 16px;}
.lang button {margin-left:6px;}
.lang .active {border: 2px solid #504b38;} 
main {display: grid; gap:var(--gap); grid-template-columns: 1fr; max-width:900px; margin:0 auto;}
.card {
  background:var(--card); 
  padding:16px; 
  border-radius:12px; 
  box-shadow: 0 2px 10px #ffffff
}
.row {
  display: grid; 
  grid-template-columns: 140px 1fr auto; 
  align-items: center; 
  gap: 10px; 
  margin: 10px 0;
}
.generation {display: flex; justify-content: center;}
label { font-weight: 800; }
input[type="range"] { width: 100%; }
.hint {opacity: .75; margin-top: 4px; }
.meters {justify-content: space-between; grid-template-columns: 1fr 1fr; }
button {
  padding: 8px 12px; 
  border-radius: 10px; 
  border: 3px solid #e1e9c9; 
  background: #e1e9c9; 
  cursor: pointer;
}
button:hover { filter: brightness(0.98); }
footer { margin-top: 20px; text-align: center; opacity: .7; }
.hidden {display:none;}
.mode-btn.active {border: 2px solid #504b38;}
.row.gap {gap:.5rem; display: flex;}
.panel {margin-top:.5rem; display:none;}
.panel.is-open {display:block;}
.mode-tmnmt-button.active {border: 2px solid #504b38;}
.mode-tmnmt {margin-bottom:15px;}
#feedback {
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 10px;
  transition: opacity 0.6s ease;
}


